@font-face {
    font-family: "alighty";
    src: url("AlightyNesiaBold.ttf") format("truetype");
}
@font-face {
    font-family: "codeBold";
    src: url("CodeBold.otf") format("truetype");
}

.eddie-font{
    font-family: "alighty";
    font-family: "codeBold";
}

body{
    background-color: transparent;
}

.logo{
    padding-left: 30px;
    font-family:"alighty";
}

.logo .iconlogo{
    padding-right:0;
}

.logo .textlogo{
    padding-left:25px;
    color: #e2b25c;
    font-size: 20px;
}

.menu{
    font-family:"alighty";
    color:#e2b25c;
    padding-right:20px;
    font-size: 20px;
    line-height: 20px;
}

a.menu:hover {
    text-decoration: none;
    color: #5e5e5e;
}
body .pesquisarB{
    border-top: 0px;
    border-bottom: 0px;
    border-radius: 0px;
    border-right: 0px;
    margin-bottom: 0px;
    background-color:#fcc86b;
    height:34px;

}

body .pesquisarT{
    border-top: 0px;
    border-bottom: 0px;
    border-radius: 0px;
    margin-bottom: 0px;
}

textarea:focus,
input[type="text"]:focus,
.uneditable-input:focus {
    border-color: #e3b35c;
    box-shadow: 0 0px 0px #e3b35c inset, 0px 0px 0px #e3b35c;
}

body .segTela{
    padding-top:25px;
    background-color:#fcc86b;
    box-shadow: 0 0 0 0 #696969 inset, 0 0 5px 0 #696969;
}

body .segTelaConsulta{
    padding-top:25px;
    background-color:#fcc86b;
    padding-bottom:100px;
    box-shadow: 0 0 0 0 #696969 inset, 0 0 5px 0 #696969;
}

body .segTelaVeic{
    padding-top:25px;
    padding-bottom:20px;
    background-color:#ffffff;
    box-shadow: 0 0 0 0 #696969 inset, 0 0 5px 0 #696969;
}

body .priTela{
    background-color:#d8d8d8;
    margin-top:-20px;
    padding-bottom:50px;
}

div.tercTela{
    background-color:#ffffff;
    margin-top:20px;
    padding-bottom:50px;
}

body .titulo{
    font-family:"alighty";
    color: #ffffff;
    font-size: 30px;
    text-align: center;
    padding-top:45px;
    padding-bottom: 0px;

}

body .tituloVeiculos{
    font-family:"alighty";
    color: #e3b35c;
    font-size: 30px;
    text-align: center;
    padding-top:45px;
    padding-bottom: 0px;

}

body .seta{
    margin-top: -45px;
    text-align: center;

}

body .setaBranca{
    margin-top: -45px;
    text-align: center;

}

div.imag{
    text-align: center;
    margin-top: 80px;
    padding-right:200px;

}
img.imag-ali{
    margin-left:200px;
    height: 125px;
    width: 125px;
}

div.descr{
    font-family:"alighty";
    color: #ffffff;
    font-size: 30px;
    text-align: center;
    padding-right:115px;
    margin-top: 30px;
    margin-bottom:60px;
}

b.text-ali{
    margin-left:150px;
    padding-right:40px;
}

div.msgImage{
    margin-left:30px;
    margin-top:30px;
}

div.msgText{
    margin-left:0px;
    margin-top:35px;
    font-family:"alighty";
    color: #e2b25c;
    font-size: 20px;
}

div.msgInput{
    margin-top:25px;
}

input.msgInput1{
    margin-bottom:5px;
}

div.btnedit{
    padding-top:63.5px;
}

div.btnveiculos{
    margin-top:10px;
    text-align:center;
}

div.foot{
    background-color:#fcc86b;
    box-shadow: 0 0 0 0 #696969 inset, 0 0 5px 0 #696969;
}

img.logoP{
    margin-left:100px;
    margin-top: 20px;
    width: 81px;
    height: 63px;
}

p.footTxtTitulo{
    margin-top: 30px;
    margin-right: 50px;
    font-family:"alighty";
    color: #ffffff;
    font-size: 30px;
}
p.footTxtDesc{
    font-family:"alighty";
    color: #ffffff;
    font-size: 12px;
    margin-left:75px;
    margin-top:5px;
}

b.footSystag{
    font-family:"codeBold";
    color: #ffffff;
    font-size: 60px;
}

b.chaves1{
     font-family:"Arial";
     color: #ffffff;
     font-size: 75px;
     margin-right:10px;
}

b.chaves2{
    font-family:"Arial";
    color: #ffffff;
    font-size: 75px;
    margin-left:10px;
}

a.menuRap{
    font-family:"alighty";
    color:#ffffff;
    font-size: 15px;
}
a.menuRap:hover{
    color:#5e5e5e;
}
a:hover{
    text-decoration:none;
}

div.footer{
    font-family:"calibri";
    color:#ffffff;
    font-size: 12px;
    background-color:#e2b25c;
}

div.veiculosInput{
    margin-left: 580px;
    margin-top: 20px;
}

div.veicInput{
    margin-top:15px;
}

p.img{
    margin-top:130px;
    margin-left:150px;
}

p.consultaTxt{
    font-family:"alighty";
    color:#ffffff;
    font-size: 25px;
    margin-top:15px;
}

div.consultaEsp{
    margin-top:120px;
    margin-left:170px;
}

div.mapa{
    margin-top:90px;
    border-bottom: 1px solid #d8d8d8;
}
p.consultaTxtCarga{
    font-family:"alighty";
    color:#ffffff;
    font-size: 25px;
    margin-top:15px;
    margin-left:250px;
}